body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Search{
  margin: 10px auto;
  width: 500px;
  margin-top: 30px;
}
.Search input{
    box-sizing: border-box;
    width: 400px;
    height: 30px;
    border: 0px;
    box-shadow: 0px 1px 0px rgb(134, 134, 134);
    font-size: 15px;
    font-weight: 550;
    padding: 20px 10px;


}
.btn-search{
    background-color: rgb(53, 186, 186);
    border: 0px;
    padding: 10px 15px;
    margin-left: -75px;
    color: white;
    border-radius: 6px;
  
}

.Card{
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 6px;
  box-shadow: 0px 3px 10px lightgray;
  position: relative;
}
.Card img{
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}
.group{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.group h3{
  color: purple;
}
.score{
  font-size: 15px;
  font-weight: 600;
}
.title{
  font-weight: 700;
  font-size: 14px;
  color: black;
}
.Type-img{
  display: flex;
  gap: 8px;
  margin: 10px 0px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}
.type{
  background-color: rgb(211, 227, 239);
  border-radius: 12px;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 650;
  color: rgb(58, 58, 58);
  padding-bottom: 4px;
  justify-self: center;
  margin: 0px;
  
}
.Main{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 40px;
  margin-left: 70px;
}
.zoom{
  background-color:lightgray;
  color: white;
  border: 0px;
  position: absolute;
  top: 209px;
  width: 100%;
  cursor: pointer;

}